.Modal {
  position: fixed;
  z-index: 200;
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  background-color: white;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  top: 30%;
  left: 25%;
  width: 50%;
  transition: all 0.3s ease-in forwards;
}

.openModal {
  animation: animateOpenModal 0.4s ease-in forwards;
}

.closeModel {
  animation: animateCloseModal 0.4s ease-in forwards;
}

@keyframes animateOpenModal {
  0% {
    opacity: 0;
    transform: translateX(-40%) translateY(-100%) rotate(90deg);
  }
  70% {
    opacity: 0.6;
    transform: translateZ(0) rotateX(10deg) rotateY(10deg) translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateZ(0) rotateX(0) rotateY(0) translateY(0);
  }
}

@keyframes animateCloseModal {
  0% {
    opacity: 1;
    transform: translateZ(0) rotateX(0) rotateY(0) translateY(0);
  }
  70% {
    opacity: 0.6;
    transform: translateZ(0) rotateX(10deg) rotateY(10deg) translateY(90%);
  }
  100% {
    opacity: 0;
    transform: translateX(-40%) translateY(-100%) rotate(90deg);
  }
}
